<h1>Add Person</h1>
<form action="/addperson" method="POST">

    <label for="firstname">FirstName</label>
    <input type="text" name="firstname" id="firstname">

    <label for="lastname">LastName</label>
    <input type="text" name="lastname" id="lastname">

    <label for="password">Password</label>
    <input type="password" name="password" id="password">

    <label for="department">Department</label>
    <input type="text" name="department" id="department">

<h3>Select Role</h3><br>
  <input type="radio" id="Faculty" name="role" value="Faculty">
  <label for="Faculty">Faculty</label><br>

  <input type="radio" id="Student" name="role" value="Student">
  <label for="Student">Student</label><br>

  <input type="radio" id="Nssvolunteer" name="role" value="Nssvolunteer">
  <label for="Nssvolunteer"> Nssvolunteer</label><br>

  <input type="radio" id="Farmhead" name="role" value="Farmhead">
  <label for="Farmhead">Farmhead</label><br>

  <input type="radio" id="Socialhead" name="role" value="Socialhead">
  <label for="Socialhead">Socialhead</label><br>

  <input type="radio" id="Splvolunteer" name="role" value="Splvolunteer">
  <label for="Splvolunteer">Splvolunteer</label><br>

  
    <button class="btn" type="submit">Add Person</button>
</form>